# Appling Linear regression on salary dataset

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("D:\\Feature_csv_Files\\Salary_Data.csv")

In [3]:
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [4]:
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
figure = px.scatter(data_frame= df , x = 'Salary' , y= 'YearsExperience' , size= "YearsExperience" , trendline= 'ols')

In [ ]:
figure.show()

In [ ]:
x = df.drop(columns = "Salary")
y = df['Salary']

In [ ]:
x_train ,x_test, y_train , y_test = train_test_split(x,y , test_size=0.2 , random_state=34)

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(x_train , y_train)

In [ ]:
a = float(input("Years Of Experience :"))
features = np.array([[a]])
print("Predicted Salary" , lr.predict(features))