In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

In [2]:
df = pd.read_csv("D:\\csv files\\supermarket.csv" , usecols = ['City', 'Customer type' , 'Gender' , 'Product line' , 'Payment'] )
df

          City Customer type  Gender            Product line      Payment
0       Yangon        Member  Female       Health and beauty      Ewallet
1    Naypyitaw        Normal  Female  Electronic accessories         Cash
2       Yangon        Normal    Male      Home and lifestyle  Credit card
3       Yangon        Member    Male       Health and beauty      Ewallet
4       Yangon        Normal    Male       Sports and travel      Ewallet
..         ...           ...     ...                     ...          ...
995  Naypyitaw        Normal    Male       Health and beauty      Ewallet
996   Mandalay        Normal  Female      Home and lifestyle      Ewallet
997     Yangon        Member    Male      Food and beverages         Cash
998     Yangon        Normal    Male      Home and lifestyle         Cash
999     Yangon        Member  Female     Fashion accessories         Cash

[1000 rows x 5 columns]

In [3]:
x = df.drop(columns= "Payment" , axis = 1)

In [4]:
y = df['Payment']

In [5]:
df['Product line'].value_counts()

Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: Product line, dtype: int64

In [6]:
x_train , x_test , y_train , y_test = train_test_split(x,y , test_size= 0.3 , random_state= 34)

In [14]:
oe = OrdinalEncoder(categories= [['Yangon' , 'Mandalay' , 'Naypyitaw'] , ['Member' , 'Normal'] , ['Female' , 'Male'], 
                                 ['Fashion accessories', 'Food and beverages', 'Electronic accessories' , 'Sports and travel' , 'Home and lifestyle' , 'Health and beauty'] ])

In [15]:
oe.fit(x_train)

OrdinalEncoder(categories=[['Yangon', 'Mandalay', 'Naypyitaw'],
                           ['Member', 'Normal'], ['Female', 'Male'],
                           ['Fashion accessories', 'Food and beverages',
                            'Electronic accessories', 'Sports and travel',
                            'Home and lifestyle', 'Health and beauty']])

In [16]:
X_train_oe = oe.transform(x_train)

In [17]:
X_train_oe

array([[1., 1., 1., 2.],
       [1., 0., 0., 2.],
       [1., 0., 1., 0.],
       ...,
       [1., 1., 0., 0.],
       [1., 0., 1., 3.],
       [2., 0., 0., 5.]])

In [24]:
oe.categories_

[array(['Yangon', 'Mandalay', 'Naypyitaw'], dtype=object),
 array(['Member', 'Normal'], dtype=object),
 array(['Female', 'Male'], dtype=object),
 array(['Fashion accessories', 'Food and beverages',
        'Electronic accessories', 'Sports and travel',
        'Home and lifestyle', 'Health and beauty'], dtype=object)]

In [25]:
X_train_oe

array([[1., 1., 1., 2.],
       [1., 0., 0., 2.],
       [1., 0., 1., 0.],
       ...,
       [1., 1., 0., 0.],
       [1., 0., 1., 3.],
       [2., 0., 0., 5.]])

In [33]:
df1= pd.DataFrame(X_train_oe , columns= .columns)

In [34]:
df1.sample(8)

     City  Customer type  Gender  Product line
420   1.0            1.0     0.0           5.0
7     0.0            0.0     0.0           5.0
564   1.0            1.0     0.0           4.0
356   2.0            0.0     1.0           0.0
629   1.0            1.0     1.0           3.0
61    0.0            0.0     0.0           3.0
441   2.0            1.0     0.0           3.0
176   0.0            1.0     0.0           0.0

In [37]:
df1.isnull().sum()

City             0
Customer type    0
Gender           0
Product line     0
dtype: int64

2.0    129
0.0    118
3.0    115
1.0    114
4.0    112
5.0    112
Name: Product line, dtype: int64