# Random Forest on Social Network Ads

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split , cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("D:\\Feature_csv_Files\Social_Network_Ads.csv" )

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df = df.drop(columns= 'User ID')

In [5]:
lb = LabelEncoder()

In [6]:
df['Gender'] = lb.fit_transform(df['Gender'])

In [7]:
df.isnull().sum()

Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [8]:
x_train , x_test , y_train , y_test = train_test_split(df.drop(columns= "Purchased") , df['Purchased'] , test_size=0.2 , random_state= 10)

In [9]:
# Define Range of Values for the number of estimators

estimator_values = [10,50,100,200,500]

In [10]:
# Iterate over the number of estimators and evaluate the model

for n_estimators in estimator_values :
    # Create a Random Forest classifier
    
    rf_classifier = RandomForestClassifier(n_estimators= n_estimators , random_state= 34)
    
    # Perform Cross-Validation and calculate the mean accuracy
    
    scores = cross_val_score(rf_classifier , x_train , y_train , cv= 5)
    mean_accuracy = np.mean(scores)
    
    # Print the results
    print(f"Number of Estimators : {n_estimators} , Mean Accuracy : {mean_accuracy} ")

Number of Estimators : 10 , Mean Accuracy : 0.853125
Number of Estimators : 50 , Mean Accuracy : 0.859375
Number of Estimators : 100 , Mean Accuracy : 0.871875
Number of Estimators : 200 , Mean Accuracy : 0.865625
Number of Estimators : 500 , Mean Accuracy : 0.8625