In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv("//home//krishna//Csv_files//csv_1//covid_toy.csv" )

In [4]:
df.tail()

    age  gender  fever   cough       city has_covid
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
df['fever'].fillna(df['fever'].mean(), inplace=True)

In [8]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [9]:
lb = LabelEncoder()

In [10]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [11]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0
3   31       0   98.0      0     2          0
4   65       0  101.0      0     3          0

In [12]:
df.tail()

    age  gender  fever  cough  city  has_covid
95   12       0  104.0      0     0          0
96   51       0  101.0      1     2          1
97   20       0  101.0      0     0          0
98    5       0   98.0      1     3          0
99   10       0   98.0      1     2          1

In [13]:
x_train , x_test , y_train , y_test = train_test_split(df.drop(columns= "has_covid") , df['has_covid'] , test_size=0.2 , random_state= 34)

In [14]:
logg_regg = LogisticRegression()

In [15]:
logg_regg.fit(x_train ,y_train)

LogisticRegression()

In [16]:
t_condition_1 = float(input("Enter Age :"))
t_condition_2 = float(input("Enter Gender(For M (1) and for F (0)):"))
t_condition_3 = float(input("Enter fever level :"))
t_condition_4 = float(input("Enter Cough (For Strong (1) and for Mild (0) ) :"))
t_condition_5 = float(input("Enter City :"))
features = np.array([[t_condition_1 , t_condition_2 , t_condition_3 , t_condition_4 , t_condition_5]])

print("Covid possibilities of a patient :" , logg_regg.predict(features))

Enter Age : 15
Enter Gender(For M (1) and for F (0)): 1
Enter fever level : 103
Enter Cough (For Strong (1) and for Mild (0) ) : 0
Enter City : 2

Covid possibilities of a patient : [0]

/home/krishna/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(