In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("D:\\csv files\\placement.csv")

In [3]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [4]:
from sklearn.model_selection import train_test_split

In [6]:
x = df.drop(columns = ["placed"] , axis = 1)

In [8]:
y = df['placed']

In [12]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.3 , random_state=34)

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
mn = MinMaxScaler()

In [15]:
x_train_mnscaled = mn.fit_transform(x_train)

In [19]:
np.round(x_train.describe(),2)

        cgpa  resume_score
count  70.00         70.00
mean    6.91          6.98
std     1.15          1.02
min     5.27          5.05
25%     5.92          6.18
50%     6.56          7.12
75%     8.07          7.68
max     9.40          9.06

In [20]:
x_train_newmn = pd.DataFrame(x_train_mnscaled , columns = x_train.columns)

In [21]:
np.round(x_train_newmn.describe() , 2)

        cgpa  resume_score
count  70.00         70.00
mean    0.40          0.48
std     0.28          0.25
min     0.00          0.00
25%     0.16          0.28
50%     0.31          0.52
75%     0.68          0.66
max     1.00          1.00